# PostgreSQL
POSTGRES_DB=github_analytics
POSTGRES_USER=analytics_user
POSTGRES_PASSWORD=pg_pass_CHANGE_ME

# MinIO (S3)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minio_pass_CHANGE_ME

# ClickHouse
CLICKHOUSE_DB=github_marts
CLICKHOUSE_USER=clickhouse_user
CLICKHOUSE_PASSWORD=clickhouse_pass_CHANGE_ME

# Superset
SUPERSET_SECRET_KEY=your_superset_secret_key_change_me

# Общие настройки
DATA_YEAR=2015
DATA_MONTH=01
DATA_DAY=01
